@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-size: 100%;
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  @keyframes slide-fade-in {
    from {
      opacity: 0;
      transform: translateX(100vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-fade-out {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100vw);
    }
  }
}

body {
  margin: auto;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JetBrains Mono', 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .slide-fade-in {
    animation: slide-fade-in 0.4s forwards;
  }
  .slide-fade-out {
    animation: slide-fade-out 0.4s forwards;
  }
}
