<?xml version="1.0" encoding="UTF-8"?>
<manifest identifier="olorin-{{ export_id }}" version="1.0"
  xmlns="http://www.imsproject.org/xsd/imscp_rootv1p1p2"
  xmlns:adlcp="http://www.adlnet.org/xsd/adlcp_rootv1p2"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.imsproject.org/xsd/imscp_rootv1p1p2 imscp_rootv1p1p2.xsd
                       http://www.imsglobal.org/xsd/imsmd_rootv1p2p1 imsmd_rootv1p2p1.xsd
                       http://www.adlnet.org/xsd/adlcp_rootv1p2 adlcp_rootv1p2.xsd">
  <metadata>
    <schema>ADL SCORM</schema>
    <schemaversion>1.2</schemaversion>
  </metadata>
  <organizations default="olorin-org">
    <organization identifier="olorin-org">
      <title>{{ content_title }}</title>
      <item identifier="olorin-sco" identifierref="olorin-resource" isvisible="true">
        <title>{{ content_title }}</title>
        <adlcp:masteryscore>{{ mastery_score }}</adlcp:masteryscore>
      </item>
    </organization>
  </organizations>
  <resources>
    <resource identifier="olorin-resource" type="webcontent" adlcp:scormtype="sco" href="player/index.html">
      <file href="player/index.html"/>
      <file href="player/player.js"/>
      <file href="player/scorm-api.js"/>
      <file href="player/character-engine.js"/>
      <file href="player/styles.css"/>
      <file href="content/manifest.json"/>
      <file href="config.json"/>
      {% for file_path in content_files %}
      <file href="{{ file_path }}"/>
      {% endfor %}
    </resource>
  </resources>
</manifest>
